<h1>New Post</h1>

<form action="<%= posts_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="post_title">Title:</label>
  <input type="text" id="posts_title" name="post[title]">

  <label for="post_url">Url(optional):</label>
  <input type="text" id="posts_url" name="post[url]">

  <label for"post_context">Context:</label>
  <input type="text" id="post_context" name="post[context]">

  <label for="post_author">Author:</label>
  <select id="post_author" name="post[author_id]">
  <% User.all.each do |author| %>
    <option value="<%= author.id %>"><%= author.username %></option>
  <% end %>
  </select>

  <input type="hidden" name="post[sub_ids][]" value="">

  <% Sub.all.each do |sub| %>
    <label>
      <%= sub.title %>
      <input
        type="checkbox"
        value="<%= sub.id %>"
        name="post[sub_ids][]"
        <%= "checked" if @post.sub_ids.include?(sub.id) %>>
    </label>
  <% end %>
 
  <input type="submit" value="Create Post">
</form>