<main class="main-content">
  <section class="new-form">
    <h2 class="sign-in-title">New Comment</h2>

    <form action="<%= comments_url %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="comment[post_id]" value="<%= params[:post_id] %>">

      <section>
        <label for="comment_content">Content:</label>
        <input id="comment_content" name="comment[content]" type="text">
      </section>

      <section>
        <label for="comment_author">Author</label>
        <select name="comment[author_id]">
          <% User.all.each do |author| %>  
            <option value="<%= author.id %>"><%= author.username %></option>
          <% end %>
        </select>
      </section>

      <section class="sign-in-button">
        <input type="submit" value="Create Comment">
      </section>
    </form>
  </section>

  <section>
    <aside class="class-1-3 first-box">

    </aside>
    <footer>
      <section class="footer-lists">
        <ul class="col-1-2">
          <li>Help</li>
          <li>Reddit Coins</li>
          <li>Reddit Premium</li>
          <li>Reddit Gifts</li>
        </ul>
        <ul class="col-1-2">
          <li>About</li>
          <li>Careers</li>
          <li>Press</li>
          <li>Advertise</li>
          <li>Blog</li>
          <li>Terms</li>
          <li>Content Policy</li>
        </ul>
      </section>
      <span class="copyright">Reddit Inc © 2021 . All rights reserved<span>
    </footer>
  </section>
</main>