<ul class="tweet-show">
  <li>
    <a href="<%= user_url(tweet.user.id) %>"><%= tweet.user.username %></a> 
    -- <%= tweet.created_at %> -- 
  </li>
  <% if tweet.mentioned_users.length > 0 %>
  <% tweet.mentioned_users.each do |mentioned_user| %>
  <li><a href="<%= user_url(mentioned_user) %>"><%= mentioned_user.username %></a></li>
  <% end %>
  <% end %>
  <li><%= tweet.content %></li>
</ul>
